@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cosmo/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Footer
========================================================================== */

svg {
  fill: white;
}
svg:hover {
  fill: black;
}
