<div>
  <h2 id="page-heading" data-cy="ModeloHeading">
    <span jhiTranslate="tfcDawApp.modelo.home.title">Modelos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tfcDawApp.modelo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-modelo"
        [routerLink]="['/modelo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tfcDawApp.modelo.home.createLabel"> Create a new Modelo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="modelos?.length === 0">
    <span jhiTranslate="tfcDawApp.modelo.home.notFound">No modelos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="modelos && modelos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre"><span jhiTranslate="tfcDawApp.modelo.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="motores">
            <span jhiTranslate="tfcDawApp.modelo.motores">Motores</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidadPilotos">
            <span jhiTranslate="tfcDawApp.modelo.cantidadPilotos">Cantidad Pilotos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidadTripulantes">
            <span jhiTranslate="tfcDawApp.modelo.cantidadTripulantes">Cantidad Tripulantes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidadPasajeros">
            <span jhiTranslate="tfcDawApp.modelo.cantidadPasajeros">Cantidad Pasajeros</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cantidadEquipajes">
            <span jhiTranslate="tfcDawApp.modelo.cantidadEquipajes">Cantidad Equipajes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of modelos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/modelo', modelo.id, 'view']">{{ modelo.id }}</a>
          </td>
          <td>{{ modelo.nombre }}</td>
          <td>{{ modelo.motores }}</td>
          <td>{{ modelo.cantidadPilotos }}</td>
          <td>{{ modelo.cantidadTripulantes }}</td>
          <td>{{ modelo.cantidadPasajeros }}</td>
          <td>{{ modelo.cantidadEquipajes }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/modelo', modelo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/modelo', modelo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(modelo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="modelos && modelos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
