<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="modelo">
      <h2 data-cy="modeloDetailsHeading"><span jhiTranslate="tfcDawApp.modelo.detail.title">Modelo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ modelo.id }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.nombre">Nombre</span></dt>
        <dd>
          <span>{{ modelo.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.motores">Motores</span></dt>
        <dd>
          <span>{{ modelo.motores }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.cantidadPilotos">Cantidad Pilotos</span></dt>
        <dd>
          <span>{{ modelo.cantidadPilotos }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.cantidadTripulantes">Cantidad Tripulantes</span></dt>
        <dd>
          <span>{{ modelo.cantidadTripulantes }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.cantidadPasajeros">Cantidad Pasajeros</span></dt>
        <dd>
          <span>{{ modelo.cantidadPasajeros }}</span>
        </dd>
        <dt><span jhiTranslate="tfcDawApp.modelo.cantidadEquipajes">Cantidad Equipajes</span></dt>
        <dd>
          <span>{{ modelo.cantidadEquipajes }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/modelo', modelo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
